# Auto detect text files and perform LF normalization
* text=auto

# Used for FTMS
*.ino    diff=cpp text
*.pde    diff=cpp text
*.h      diff=cpp text
*.cpp    diff=cpp text
*.c      diff=cpp text
*.cs     diff=csharp text
*.php    diff=php text
*.htm    diff=html text
*.shtm   diff=html text
*.html   diff=html text
*.sln    merge=union text eol=crlf
*.vcproj merge=union text eol=crlf
*.csproj merge=union text eol=crlf
*.vbproj merge=union text eol=crlf
*.fsproj merge=union text eol=crlf
*.dbproj merge=union text eol=crlf
*.vcxproj merge=union text eol=crlf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
